%background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%background-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%flex-baseline {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-start-space-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
