@mixin ifmobile {
  @media only screen and (max-width: 480px), only screen and (max-width: 768px) and (max-aspect-ratio: 18/13) {
    @content;
  }
}

@mixin ifdesktop {
  @media only screen and (min-width: 769px), only screen and (min-width: 481px) and (min-aspect-ratio: 18/13) {
    @content;
  }
}

@mixin ifparent($selector) {
  #{$selector} & {
    @content;
  }
}

