$font-lato: 'Lato', 'sans-serif';
$font-roboto: 'Roboto', 'sans-serif';

$color-white: #FFFFFF;
$color-black: #1F2432;;
$color-gray: #797B86;
$color-blue:#0069b4;

$size-title: 14px;
$size-text: 12px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
