<script>
import Checkbox from './Checkbox';
export default {
  name: 'AdditionalService',
  components: { Checkbox },
  props: {
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
  },
  methods: {
    onChange(e) {
      this.$emit('change', e);
    },
  },
};
</script>

<template>
  <div class="additional-service">
    <Checkbox @change="onChange" :name="type" class="additional-service__checkbox"></Checkbox>
    <div :class="[`additional-service__icon_${type}`]" class="additional-service__icon" />
    <div class="additional-service__content">
      <div class="additional-service__title">{{ title }}</div>
      <div class="additional-service__text">{{ text }}</div>
    </div>
  </div>
</template>

<style lang="scss">
.additional-service {
  background-color: #f6f8fa;
  border-radius: em(5px);
  padding: em(26px);
  @extend %flex-start;
  &__icon {
    width: em(50px);
    height: em(50px);
    background-color: $color-white;
    border-radius: em(4px);
    position: relative;
    margin: 0 em(20px);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: em(30px);
      height: em(30px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @extend %background-contain;
    }

    &_service {
      &:before {
        background-image: url(~static/img/icon-service.png);
      }
    }
  }

  &__title {
    margin-bottom: em(5px);
  }
  &__text {
    font-size: em(14px);
    color: $color-gray;
  }
}
</style>
