<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'BasketHeader',
  computed: {
    ...mapState('basket', ['items', 'services']),
    ...mapGetters('basket', ['count', 'total']),
  },
  methods: {
    ...mapMutations('basket', ['onClear']),
  },
};
</script>

<template>
  <div class="basket-header">
    <div class="basket-header__col">
      <div class="basket-header__title">Ваша корзина</div>
      <div v-if="count" class="basket-header__count">
        {{ count }} {{ $utils.declineNumeral(count, ['товар', 'товара', 'товаров']) }}
      </div>
    </div>
    <div v-if="count" class="basket-header__col">
      <div @click="onClear" class="basket-header__clear">Очистить корзину</div>
    </div>
  </div>
</template>

<style lang="scss">
.basket-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @include ifmobile {
    padding: 0 em(30px);
  }
  &__col {
    @include ifdesktop {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
  &__title {
    font-weight: bold;

    @include ifdesktop {
      font-size: em(44px);
      margin-right: em(22px, 44px);
    }
    @include ifmobile {
      font-size: em(22px);
      margin-right: em(22px, 22px);
    }
  }
  &__count {
    font-size: em(18px);
    color: $color-gray;
  }
  &__clear {
    font-size: em(14px);
    color: $color-gray;
    text-decoration-line: underline;
    text-align: right;
    cursor: pointer;
  }
}
</style>
