<script>
import { mapState, mapMutations } from 'vuex';

import ProductItem from './ProductItem';
import AdditionalService from './AdditionalService';
import Button from './Button';

export default {
  name: 'Basket',
  components: { Button, AdditionalService, ProductItem },
  computed: {
    ...mapState('basket', ['count', 'total', 'items']),
    ...mapState('product', ['services']),
  },
  methods: {
    ...mapMutations('basket', ['onDelete', 'onChangeCount', 'onToggleService']),
  },
};
</script>

<template>
  <div class="basket">
    <ProductItem
      v-for="item in items"
      :key="item.id"
      :image="item.image"
      :title="item.title"
      :text="item.description"
      :articule="item.articule"
      :price="item.price"
      :count="item.count"
      @delete="onDelete(item.articule)"
      @change="onChangeCount"
      class="basket__item"
    />

    <div v-if="items.length" class="basket__services">
      <AdditionalService
        v-for="service in services"
        :key="service.id"
        :title="service.title"
        :text="service.text"
        :type="service.type"
        @change="onToggleService"
        class="basket__service"
      />
    </div>
    <Button v-if="items.length === 0" class="basket__button">Перейти к каталогу</Button>
  </div>
</template>

<style lang="scss">
.basket {
  &__service {
    margin-top: em(20px);
  }
  &__button {
    max-width: em(350px);
    margin: em(20px) auto;
  }
}
</style>
