<script>
import { mapGetters, mapActions } from 'vuex';
import Button from './Button';

export default {
  name: 'BasketTotal',
  components: { Button },
  computed: {
    ...mapGetters('basket', ['total', 'count', 'isService']),
  },
  methods: {
    ...mapActions('basket', ['onSend']),
  },
};
</script>

<template>
  <div class="basket-total">
    <div class="basket-total__title">Итого</div>
    <div class="basket-total__content">
      <div class="basket-total__item">
        <div class="basket-total__name">Сумма заказа</div>
        <div class="basket-total__price">{{ $utils.formatPrice(total) }}</div>
      </div>
      <div class="basket-total__item">
        <div class="basket-total__name">Количество</div>
        <div class="basket-total__price">{{ count }} шт</div>
      </div>
      <div class="basket-total__item">
        <div class="basket-total__name">Установка</div>
        <div class="basket-total__price">{{ isService ? 'Да' : 'Нет' }}</div>
      </div>
    </div>
    <div class="basket-total__line" />
    <div class="basket-total__item">
      <div class="basket-total__text">Стоимость товаров</div>
      <div class="basket-total__total">{{ $utils.formatPrice(total) }}</div>
    </div>
    <Button @click.native="onSend" class="basket-total__button basket-total__button_order">Оформить заказ</Button>
    <Button class="basket-total__button" color="white">Купить в 1 клик</Button>
  </div>
</template>

<style lang="scss">
.basket-total {
  background-color: #f6f8fa;
  padding: em(35px) em(30px);

  &__title {
    font-size: em(24px);
    font-weight: 600;
    margin-bottom: em(13px, 24px);
  }

  &__item {
    @extend %flex-baseline;
    margin: em(18px) 0;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #aeb0b6;
    margin: em(10px) 0;
  }

  &__text {
    font-size: em(18px);
  }

  &__price {
    font-family: $font-roboto;
  }

  &__total {
    font-size: em(26px);
    font-weight: bold;
  }
  &__button {
    &_order {
      margin: em(30px) 0 em(10px);
    }
  }
}
</style>
