<script>
import Container from './Container';
export default {
  name: 'Breadcrumbs',
  components: { Container },
};
</script>

<template>
  <div class="breadcrumbs">
    <Container class="breadcrumbs__container">
      <a href="/" class="breadcrumbs__item">Главная</a>
      <div class="breadcrumbs__item">Корзина</div>
    </Container>
  </div>
</template>

<style lang="scss">
.breadcrumbs {
  padding: em(5px) 0;
  @include ifmobile {
    padding: em(5px) em(30px);
  }
  &__container {
    @extend %flex-start;
  }
  &__item {
    font-size: em($size-title);
    color: #33374e;
    margin-right: em(10px);

    &:after {
      content: '▶';
      color: #33374e;
      margin-left: em(10px);
    }

    &:last-child {
      color: #8f919b;
      margin-right: 0;
      &:after {
        display: none;
      }
    }
  }
}
</style>
