<script>
export default {
  name: 'Button',
  props: {
    color: {
      type: String,
      default: 'blue',
    },
  },
};
</script>

<template>
  <div :class="[`button_color-${color}`]" class="button"><slot /></div>
</template>

<style lang="scss">
.button {
  width: 100%;
  font-size: em(18px);
  padding: em(14px, 18px) em(40px, 18px);
  border-radius: em(4px, 18px);
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  &_color-blue {
    background-color: $color-blue;
    color: $color-white;
  }

  &_color-white {
    color: $color-blue;
    background-color: $color-white;
    border: 1px solid $color-blue;
  }
}
</style>
