<script>
export default {
  name: 'Checkbox',
  props: {
    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      value: 0,
    };
  },
  methods: {
    onClick() {
      this.value = !this.value;
      this.sendEvent();
    },
    sendEvent() {
      this.$emit('change', { name: this.name, value: this.value });
    },
  },
};
</script>

<template>
  <div :class="{ is_active: value }" @click.stop="onClick" class="checkbox">
    <input ref="input" v-model="value" :name="name" disabled type="text" class="checkbox__input" />
    <div class="checkbox__check checkbox-check">
      <span class="checkbox-check__line checkbox-check__line_1" />
      <span class="checkbox-check__line checkbox-check__line_2" />
    </div>
  </div>
</template>

<style lang="scss">
.checkbox {
  text-align: left;
  position: relative;
  user-select: none;
  transition: color 0.3s;
  min-height: em(20px);
  padding-left: em(24px);
  cursor: pointer;
  &__input {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  &__check {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.checkbox-check {
  border-radius: 2px;
  box-sizing: border-box;
  width: em(20px);
  height: em(20px);
  background: rgba(28, 37, 44, 0.1);
  transition: background 0.2s;
  border: 1px solid transparent;
  @include ifparent('.checkbox.is_active') {
    background: rgba(28, 37, 44, 0);
  }
  &__line {
    position: absolute;
    display: block;
    background: $color-blue;
    &_1 {
      width: em(3px);
      height: em(6px);
      top: 0.55em;
      left: 0.05em;
      transform: rotate(-45deg) scaleY(0);
      transform-origin: top center;
      transition: transform 0.1s 0.1s ease;
      @include ifparent('.checkbox.is_active') {
        transform: rotate(-45deg) scaleY(1);
        transition: transform 0.1s ease;
      }
    }
    &_2 {
      width: em(3px);
      height: em(14px);
      top: 0;
      left: 0.25em;
      transform: rotate(50deg) scaleY(0);
      transform-origin: bottom center;
      transition: transform 0.1s ease;
      @include ifparent('.checkbox.is_active') {
        transform: rotate(50deg) scaleY(1);
        transition: transform 0.1s 0.1s ease;
      }
    }
  }
}
</style>
