<script>
export default {
  name: 'Container',
};
</script>

<template>
  <div class="container">
    <slot />
  </div>
</template>

<style lang="scss">
.container {
  position: relative;
  width: 100%;
  @include ifdesktop {
    max-width: em(1340px);
    padding: 0 em(30px);
    margin: 0 auto;
  }
}
</style>
