<script>
import { mapGetters } from 'vuex';

export default {
  name: 'HeaderBasket',
  computed: {
    ...mapGetters('basket', ['count', 'total']),
  },
};
</script>

<template>
  <div class="header-basket">
    <div class="header-basket__icon" />
    <div class="header-basket__content">
      <div class="header-basket__title">Ваша корзина {{ count === 0 ? 'пуста ' : '' }}</div>
      <div v-if="count" class="header-basket__count">
        {{ count }} {{ $utils.declineNumeral(count, ['товар', 'товара', 'товаров']) }}
      </div>
      <div v-if="count" class="header-basket__total">{{ $utils.formatPrice(total) }}</div>
    </div>
  </div>
</template>

<style lang="scss">
.header-basket {
  @extend %flex-start;
  width: em(150px);
  &__icon {
    background-image: url(~static/img/icon-basket.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: em(32px);
    height: em(32px);
    margin-right: em(10px);
  }
  &__title {
    font-size: em($size-title);
    color: $color-black;
  }
  &__count {
    font-size: em($size-text);
    color: $color-gray;
  }

  &__total {
    font-size: em($size-text);
    color: $color-black;
  }
}
</style>
