<script>
import Container from './Container';
import HeaderBasket from './HeaderBasket';
export default {
  name: 'Header',
  components: { HeaderBasket, Container },
};
</script>

<template>
  <div class="header">
    <div class="header__nav-bar"></div>
    <Container class="header__main-menu">
      <div class="header__items"></div>
      <HeaderBasket class="header__basket" />
    </Container>
  </div>
</template>

<style lang="scss">
.header {
  box-shadow: 0px 2px 15px rgba(44, 50, 66, 0.12);
  &__nav-bar {
    height: em(45px);
    background-color: #f6f8fa;
    @include ifmobile {
      display: none;
    }
  }
  &__main-menu {
    height: em(95px);
    @extend %flex-space-between;
  }
}
</style>
