<script>
import Button from './Button';
export default {
  name: 'ProductCard',
  components: { Button },
  props: {
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    priceMin: {
      type: Object,
      default: () => null,
    },
    priceMax: {
      type: Object,
      default: () => null,
    },
  },
};
</script>

<template>
  <div class="product-card">
    <div :style="{ backgroundImage: `url(${image})` }" class="product-card__image" />
    <div class="product-card__content">
      <div class="product-card__title">{{ title }}</div>
      <div class="product-card__text">{{ text }}</div>
    </div>
    <div class="product-card__price product-card__price_ru">
      {{ $utils.formatPrice(priceMin.ru) }} - {{ $utils.formatPrice(priceMax.ru) }}
    </div>
    <div class="product-card__price product-card__price_eu">
      {{ $utils.formatPrice(priceMin.eu, 'eu') }} - {{ $utils.formatPrice(priceMax.eu, 'eu') }}
    </div>
    <Button class="product-card__button">Подробнее</Button>
  </div>
</template>

<style lang="scss">
.product-card {
  padding: em(25px);
  width: em(305px);
  border-radius: em(5px);
  background-color: #f6f8fa;
  &__image {
    @extend %background-contain;
    width: em(250px);
    height: em(250px);

    margin: 0 auto em(5px);
  }
  &__title {
    font-size: em(22px);
    font-weight: bold;
    margin-bottom: em(10px, 22px);
  }
  &__text {
    font-size: em(14px);
  }
  &__content {
    min-height: em(140px);
  }
  &__price {
    &_ru {
      font-family: $font-roboto;
      font-size: em(22px);
      font-weight: 300;
    }
    &_eu {
      color: $color-gray;
      font-size: em(16px);
    }
  }
  &__button {
    margin-top: em(20px);
  }
}
</style>
