<script>
export default {
  name: 'ProductCount',
  props: {
    name: {
      type: String,
      required: true,
    },
    max: {
      type: Number,
      default: 50,
    },
    min: {
      type: Number,
      default: 1,
    },
    value: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      valueLocal: 1,
    };
  },
  watch: {
    value() {
      this.valueLocal = this.value;
    },
  },
  mounted() {
    this.valueLocal = this.value;
  },
  methods: {
    onInput() {
      this.valueLocal = Math.min(Math.max(this.valueLocal, this.min), this.max);
      this.$emit('change', this.valueLocal);
    },
    onClick(e) {
      this.valueLocal = Math.min(Math.max(e, this.min), this.max);
      this.$emit('change', this.valueLocal);
    },
  },
};
</script>

<template>
  <div class="product-count">
    <div class="product-count__inner">
      <div
        @click="onClick(valueLocal - 1)"
        :class="{ is_disabled: valueLocal <= min }"
        class="product-count__button product-count__button_decrease"
      />
      <input
        ref="input"
        :name="name"
        @input="onInput"
        v-model="valueLocal"
        pattern="^[ 0-9]+$"
        class="product-count__input"
      />
      <div
        @click="onClick(valueLocal + 1)"
        :class="{ is_disabled: valueLocal >= max }"
        class="product-count__button product-count__button_increase"
      />
    </div>
    <div class="product-count__disclaimer"><slot /></div>
  </div>
</template>

<style lang="scss">
.product-count {
  font-weight: 500;
  user-select: none;
  line-height: 1;
  position: relative;
  &__inner {
    @extend %flex-start-space-between;
    border-radius: 4px;
    overflow: hidden;
  }
  &__button {
    position: relative;
    background: #f6f8fa;
    cursor: pointer;

    width: em(34px);
    min-width: em(34px);
    height: em(34px);
    &.is_disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: em(12px);
      height: 2px;
      background-color: #33374e;
    }
    &_increase {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 2px;
        height: em(12px);
        background-color: #33374e;
      }
    }
  }
  &__input {
    $size: 14px;
    font-size: em($size);
    height: em(34px, $size);
    width: em(34px, $size);
    background: #f6f8fa;
    display: block;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
    border-radius: 0;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0 2px;
    &::-ms-clear {
      display: none;
    }
    border: 1px solid transparent;
    transition: border-color 0.2s;
    &:hover {
      @include ifdesktop {
        z-index: 2;
        border: 1px solid #bababa;
      }
    }
  }
  &__disclaimer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
</style>
