<script>
import { mapState } from 'vuex';
import ProductCount from './ProductCount';
export default {
  name: 'ProductItem',
  components: { ProductCount },
  props: {
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    articule: {
      type: String,
      default: '',
    },
    price: {
      type: Object,
      default: () => null,
    },
    count: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    ...mapState('core', ['lang']),
    totalPrice() {
      return this.price[this.lang] * this.count;
    },
  },
  methods: {
    onDeleteItem() {
      this.$emit('delete');
    },
    onChange(count) {
      this.$emit('change', { articule: this.articule, count });
    },
  },
};
</script>

<template>
  <div class="product-item">
    <div @click="onDeleteItem" class="product-item__delete"></div>
    <div :style="{ backgroundImage: `url(${image})` }" class="product-item__image" />
    <div class="product-item__content">
      <div class="product-item__title">{{ title }}</div>
      <div v-html="text" class="product-item__text" />
      <div class="product-item__articule">Артикул: {{ articule }}</div>
    </div>
    <div class="product-item__count">
      <ProductCount @change="onChange" :value="count" class="product-item__toggle" name="count">
        <div v-if="count > 1" class="product-item__disclaimer">{{ $utils.formatPrice(price[lang]) }}/шт</div>
      </ProductCount>
    </div>
    <div class="product-item__total">{{ $utils.formatPrice(totalPrice) }}</div>
  </div>
</template>

<style lang="scss">
.product-item {
  position: relative;
  @include ifdesktop {
    padding: em(20px) em(15px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @include ifmobile {
    padding: em(30px);
  }

  &:not(:first-child) {
    border-top: 1px solid #c4c4c4;
  }

  &__image {
    margin-right: em(30px);
    @extend %background-contain;
    @include ifdesktop {
      width: em(100px);
      height: em(100px);
    }
    @include ifmobile {
      width: em(50px);
      height: em(50px);
      margin-bottom: em(20px);
    }
  }
  &__title {
    font-size: em(16px);
    margin-bottom: em(6px);
  }
  &__text {
    font-size: em(12px);
    margin-bottom: em(7px, 12px);
  }
  &__articule {
    font-size: em(14px);
    color: $color-gray;
  }
  &__count {
    @include ifdesktop {
      margin-right: em(84px);
      margin-left: em(80px);
    }
    @include ifmobile {
      width: em(110px);
      margin: em(10px) auto em(20px);
    }
  }
  &__total {
    font-size: em(18px);
    font-weight: bold;
    width: em(150px, 18px);
  }
  &__delete {
    position: absolute;
    width: em(20px);
    height: em(20px);
    top: em(25px);
    right: em(25px);
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: em(12px);
      height: em(12px);
      @extend %background-contain;
      background-image: url(~static/img/icon-delete.png);
    }
  }
  &__disclaimer {
    text-align: center;
    font-size: em(12px);
    margin-top: em(8px, 12px);
    font-family: $font-roboto;
  }
}
</style>
