<script>
import { mapState } from 'vuex';

import ProductCard from './ProductCard';
import Slider from './Slider';

export default {
  name: 'ReviewedProducts',
  components: { Slider, ProductCard },
  computed: {
    ...mapState('product', ['items']),
  },
};
</script>

<template>
  <div class="reviewed-products">
    <div class="reviewed-products__title">Просмотренные товары</div>
    <Slider class="reviewed-products__slider">
      <div v-for="item in items" :key="item.id" class="reviewed-products__wrapper">
        <ProductCard
          :image="item.image"
          :title="item.title"
          :text="item.description"
          :articule="item.articule"
          :priceMin="item.priceMin"
          :priceMax="item.priceMax"
          class="reviewed-products__item"
        />
      </div>
    </Slider>
  </div>
</template>

<style lang="scss">
.reviewed-products {
  width: 100%;
  @include ifmobile {
    padding: 0 em(30px);
  }
  &__title {
    @include ifdesktop {
      font-size: em(30px);
      margin-bottom: em(60px, 30px);
    }
    @include ifmobile {
      font-size: em(24px);
      margin-bottom: em(30px, 24px);
    }
  }
  &__wrapper {
    flex-shrink: 0;
  }
  &__item {
    display: block;
  }
}
</style>
