<script>
export default {
  name: 'Slider',
  data() {
    return {
      slides: [],
      slider: null,
      sliderInfo: null,
      options: {
        mode: 'carousel',
        loop: true,
        touch: true,
        lazyload: true,
        items: 1,
        nav: false,
        rewind: false,
        speed: 1300,
        navAsThumbnails: false,
        navContainer: '.slider__navigation',
        responsive: {
          768: {
            items: 4,
          },
        },
      },
    };
  },
  computed: {
    size() {
      return this.sliderInfo ? this.sliderInfo.slideCount : 1;
    },
    current() {
      return this.sliderInfo
        ? this.sliderInfo.index <= this.sliderInfo.slideCount
          ? Math.max(this.sliderInfo.index, 1)
          : 1
        : 1;
    },
  },
  mounted() {
    setTimeout(() => {
      this.initSlider();
    }, 100);
  },
  methods: {
    initSlider() {
      this.options.container = this.$refs.slider;
      this.options.prevButton = this.$refs.prevButton;
      this.options.nextButton = this.$refs.nextButton;

      this.slider = tns(this.options);
      this.sliderInfo = this.slider.getInfo();
      this.slides = this.$refs.slider.querySelectorAll('.tns-item');

      this.slider.events.on('indexChanged', this.updateInfo);
    },
    updateInfo() {
      this.sliderInfo = this.slider.getInfo();
      this.$emit('update-active');
    },
  },
};
</script>

<template>
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__navigation">
        <div ref="prevButton" direction="left" class="slider__arrow slider__arrow_left" />
        <div class="slider__counter">
          <span class="slider__current">{{ current }}</span> / <span class="slider__count">{{ size }}</span>
        </div>
        <div ref="nextButton" direction="right" class="slider__arrow slider__arrow_right" />
      </div>
      <div ref="slider" class="slider__content">
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.slider {
  position: relative;
  padding-bottom: 4em;
  user-select: none;
  width: 100%;
  @include ifdesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__content {
    display: flex;
    position: relative;
  }
  .tns-item {
    overflow: visible;
    outline: none !important;
    font-size: 1rem !important;
  }
  .tns-inner {
    overflow: hidden;
    position: relative;
  }
  .tns-liveregion {
    display: none;
  }
  .tns-nav {
    display: none;
  }
  &__navigation {
    @extend %flex-space-between;

    @include ifdesktop {
      position: absolute;
      right: 0;
      top: em(-50px);
      transform: translateY(-100%);
    }
    @include ifmobile {
      margin-bottom: em(20px);
    }
  }

  &__counter {
    margin: 0 em(20px);
  }
  &__current {
    font-size: em(18px);
  }
  &__count {
    font-size: em(16px);
    color: $color-gray;
  }

  &__arrow {
    width: em(50px);
    height: em(50px);
    border-radius: 50%;
    background-color: #90a2b5;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:before {
      width: em(8px);
      height: em(18px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      @extend %background-contain;
      background-image: url(~static/img/icon-arrow.png);
    }
    &_left {
      transform: scale(-1, -1);
    }
  }
}
</style>
