<script>
import Header from '../components/Header';
import Breadcrumbs from '../components/Breadcrumbs';
export default {
  components: { Breadcrumbs, Header },
};
</script>

<template>
  <div class="layout layout-default">
    <Header class="layout-default__header" />
    <Breadcrumbs class="layout-default__breadcrumbs" />
    <nuxt class="layout-default__page" />
  </div>
</template>

<style lang="scss">
.layout-default {
  &__breadcrumbs {
    margin: em(30px) 0 em(60px);
  }
}
</style>
