<script>
import Container from '../components/Container';
import BasketTotal from '../components/BasketTotal';
import Basket from '../components/Basket';
import ReviewedProducts from '../components/ReviewedProducts';
import BasketHeader from '../components/BasketHeader';

export default {
  components: { BasketHeader, ReviewedProducts, Basket, BasketTotal, Container },
};
</script>

<template>
  <div class="page page-index">
    <Container class="page-index__container page-index__container_header">
      <BasketHeader class="page-index__basket" />
      <div class="page-index__total" />
    </Container>

    <Container class="page-index__container">
      <Basket class="page-index__basket" />
      <BasketTotal class="page-index__total" />
    </Container>

    <Container class="page-index__wrapper">
      <ReviewedProducts class="page-index__reviewed" />
    </Container>
  </div>
</template>

<style lang="scss">
.page-index {
  &__container {
    @include ifdesktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_header {
      margin-bottom: em(35px);
    }
  }

  &__basket {
    flex: 0 1 em(800px);
  }

  &__total {
    flex: 0 1 em(425px);
  }
  &__wrapper {
    margin-top: em(95px);
  }
}
</style>
