html {
  font-family: $font-lato;
  font-weight: 300;
  font-size: (16/900)*100vh;
  color: $color-black;
}

@media screen and (max-aspect-ratio: 1440/900) {
  html {
    font-size: (16/1440)*100vw;
  }
}

html {
  @include ifmobile {
    font-size: (16/360) * 100vw;
  }
}

body {
  -webkit-overflow-scrolling: auto;
  margin: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

p {
  margin: 0;
}



nobr {
  white-space: nowrap;
}
