@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: url('~static/fonts/latolight.woff2') format("woff2"),
      url('~static/fonts/latolight.woff') format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: url('~static/fonts/latoregular.woff2') format("woff2"),
      url('~static/fonts/latoregular.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: fallback;
  src: url('~static/fonts/Roboto.woff2') format("woff2"),
      url('~static/fonts/Roboto.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: url('~static/fonts/latoblack.woff2') format("woff2"),
      url('~static/fonts/latoblack.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: url('~static/fonts/latobold.woff2') format("woff2"),
     url('~static/fonts/latobold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}
